<div class="user_adverts-user">
  <div class="space-between"></div>

  <% if @user.adverts.count == 0 %>
        <div class="space-between"></div>
        <div class="empty-message">
          <p>You don't have any advertising yet!</p>
          <div class="new-adv">
            <%= link_to "Create a advertising.", new_advert_path %>
            <p>You can create a new adversiting by clicking on your avatar and "new advert".</p>
          </div>
        </div>
        
        
        
    <% else %>

    <div class="type-adv">
      
      <div class= <%= params[:type_ad] == "" || params[:type_ad].nil? ? "radio-selected" : "radio"  %> >
        <%= form_with url: "/users/#{@user.id}/user_adverts", method: :get do |form| %>
            <%= form.hidden_field :type_ad, value: "" %>
            <%= form.submit "All" %>
        <% end %>
      </div>

      <div class= <%= params[:type_ad] == "Find" ? "radio-selected" : "radio"  %> >
        <%= form_with url: "/users/#{@user.id}/user_adverts", method: :get do |form| %>
            <%= form.hidden_field :type_ad, value: "Find" %>
            <%= form.submit "Find" %>
        <% end %>
      </div>

      <div class= <%= params[:type_ad] == "Lost" ? "radio-selected" : "radio"  %> >
        <%= form_with url: "/users/#{@user.id}/user_adverts", method: :get do |form| %>
            <%= form.hidden_field :type_ad, value: "Lost" %>
            <%= form.submit "Lost" %>
        <% end %>
      </div>

      <div class= <%= params[:type_ad] == "See" ? "radio-selected" : "radio"  %> >
        <%= form_with url: "/users/#{@user.id}/user_adverts", method: :get do |form| %>
            <%= form.hidden_field :type_ad, value: "See" %>
            <%= form.submit "See" %>
        <% end %>
      </div>
    </div>

    <div class="space-between"></div>

    <% @adverts.each do |advert| %>

      <%= render 'shared/big-cards-advert', advert: advert %>

      <div class="user_adverts-user-link">
        <div class="user_adverts-user-link-inside">
          <% if advert.user == current_user %>
            <%= link_to "Edit your advert", edit_advert_path(advert) %>
            <%= link_to "Delete your advert", advert_path(advert), method: :delete, data: { confirm: "Are you sure?" } %>
          <% end %>
        </div> 
      </div>
      
    <% end %>
  <% end %>

</div>
