<div class="card-comment">

    <div class="img-username">

        <div class="outside-user-img">
            <div class="user-img" style="background-image: url('<%= image_path "logo.jpg" %>'); background-size: cover; background-position: center;">
            </div>
        </div>
        
        <div class="info-user">
            <h3><%= comment.user.name %></h3>
        </div>

    </div>
    <div class="comment">
        
        <%= simple_form_for(@comment )do |f| %>
            <%= f.input :content, label: false %>
            <%= f.submit "Change modification" %>
        <% end %>
        
    </div>   
</div>