<div class="card-comment">

    <div class="img-username">

        <div class="outside-user-img">
          <%if(comment.user.photo.key.nil?) %>
            <div class="user-img" style="background-image: url('<%=  image_path "logo.jpg" %>'); background-size: cover; background-position: center;"></div>
          <%else%>
            <div class="user-img" style="background-image: url('<%= cl_image_path comment.user.photo.key %>'); background-size: cover; background-position: center;">
            </div>
          <%end%>
        </div>
        <%# cl_image_tag current_user.photo.key %>
        <div class="info-user">
            <h3><%= comment.user.name %></h3>
        </div>

    </div>
    <div id="<%= comment.id %>">
        <div class="comment">
            <p><%= comment.content %></p>
            <% if comment.user == current_user %>
                <%= link_to "Modifier", edit_comment_path(comment, anchor: "#{comment.id}")  %>
                <%= link_to "Effacer", comment_path(comment), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}  %>
            <% end %>
        </div> 
    </div>
    
</div>