<div class="card-user-conversation">
    <div class="delete">
        <%= link_to conversation_path(userConversation.conversation_id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
            <i class="fa-sharp fa-solid fa-circle-xmark"></i>
        <% end %>
    </div>
    <%= link_to conversation_path(userConversation.conversation_id), class:'link-card' do %>
        <div class="outside-user-img">
            <div class="user-img" style="background-image: url('<%= image_path "logo.jpg" %>'); background-size: cover; background-position: center;">
            </div>
        </div>
        
        <div class="info-user">
            <h3><%= userConversation.conversation.users.select{|n| n != current_user}.empty? ? current_user.name : userConversation.conversation.users.select{|n| n != current_user}.first.name %></h3>
            <p><%= userConversation.conversation.messages.count %> messages </p>
            <p><%= userConversation.conversation.messages.last.content %> </p>
        </div>
    <% end %>
</div>