<div data-controller="navbar-homepage" data-action="scroll@window->navbar-homepage#scroll" class="fixed-top">

<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">

    <%# logo %>

    <div class="div-nav-left <%= action_name == "home"? "logo-position-set home" : "logo-position-set" %>" data-navbar-homepage-target="logoposition">
      <%= link_to root_path do %>
        <%= render "shared/logo" %>
      <% end %>
    </div>

    <%# logo %>  
    
    <%# Search %>

    <div class="div-nav-center <%= action_name == "home"? "search-position-set home" : "search-position-set" %>" data-navbar-homepage-target="search">
      <%= render "shared/searchTop" %>
    </div>
    
    <%# Search %>

    <div class="div-nav-right">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <% if user_signed_in? %>
            <li class="nav-item active">
              <%= link_to "Home", root_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Messages", user_conversations_path, class: "nav-link" %>
            </li>
            <li class="nav-item dropdown">
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Profile", user_path(current_user), class: "dropdown-item" %>
                <%= link_to "Setting", edit_user_registration_path, class: "dropdown-item" %>
                <%= link_to "Your adverts", user_adverts_user_path(current_user), class: "dropdown-item" %>
                <%= link_to "New advert", new_advert_path, class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<%# background img %>

<div class="img-home-page <%= action_name == "home"? "img-home-page" : "d-none" %>" data-navbar-homepage-target="img">
  <div class="logo-position"></div>
  <h2>Let's find your animal together</h2>
  <p>Where did you lose your animal?</p>
  <div class="space-between"></div>
  <div class="search-position"></div>
  <%= link_to "Nobody saw it? Let people knows.", new_advert_path %>

</div>

<%# background img %>

</div>