<h1>All adverts</h1>


<% @adverts.each do |advert| %>
    <h2><%= advert.name %></h2>
    <p>From: <%= advert.user.name %></p>
    <p>Type: <%= advert.type_ad %></p>


    <p>Address: <%= advert.address %></p>
    <% if !advert.phone.empty? %>
        <p>Phone: <%= advert.phone %></p>
    <% end %>
    <p>Content: <%= advert.content %></p>
    <%= link_to "Show your advert", advert_path(advert) %>
    <% if advert.user == current_user %>
    <%= link_to "Edit your advert", edit_advert_path(advert) %>
    <%= link_to "Delete", advert_path(advert),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    <% end %>
<% end %>

<p></p>
<%= link_to "Back to the home", root_path %>
<p></p>
<%= link_to "Create your advert", new_advert_path %>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>