<div class="index-advert">

  <%# <h1>Let's find our pet</h1> %>
  <div class="space-between"></div>
  <div class="type-adv">
    
    <div class= <%= params[:type_ad] == "" || params[:type_ad].nil? ? "radio-selected" : "radio"  %> >
    <%= form_with url: "/adverts", method: :get do |form| %>
          <%= form.hidden_field :type_ad, value: "" %>
          <%= form.hidden_field :address, value: params[:address]  %>
          <%= form.hidden_field :distance, value: params[:distance] %>
          <%= form.submit "All" %>
      <% end %>
    </div>

    <div class= <%= params[:type_ad] == "Find" ? "radio-selected" : "radio"  %> >
      <%= form_with url: "/adverts", method: :get do |form| %>
          <%= form.hidden_field :type_ad, value: "Find" %>
          <%= form.hidden_field :address, value: params[:address] %> 
          <%= form.hidden_field :distance, value: params[:distance] %>
          <%= form.submit "Find" %>
      <% end %>
    </div>

    <div class= <%= params[:type_ad] == "Lost" ? "radio-selected" : "radio"  %> >
      <%= form_with url: "/adverts", method: :get do |form| %>
          <%= form.hidden_field :type_ad, value: "Lost" %>
          <%= form.hidden_field :address, value: params[:address]  %>
          <%= form.hidden_field :distance, value: params[:distance] %>
          <%= form.submit "Lost" %>
      <% end %>
    </div>

    <div class= <%= params[:type_ad] == "See" ? "radio-selected" : "radio"  %> >
      <%= form_with url: "/adverts", method: :get do |form| %>
          <%= form.hidden_field :type_ad, value: "See" %>
          <%= form.hidden_field :address, value: params[:address]  %>
          <%= form.hidden_field :distance, value: params[:distance] %>
          <%= form.submit "See" %>
      <% end %>
    </div>


  </div>

    <section class="list-adv-cards" >
      <div class="space-between">
      </div>
      <%# <div class="map-index"> %>
        <%= render 'shared/map', markers: @markers %>
      <%# </div> %>
      
      <div class="space-between">
      </div>

      <% @adverts.each do |advert| %>
          <%= render 'shared/big-cards-advert', advert: advert %>
      <% end %>

    </section>    

</div>
