<div class="show-adv">
  <div class="space-between"></div>
  <div class="card-adv-user">
  
    <%= render 'shared/show-card-advert', advert: @advert %>

    <div class="contact-card-user">
      <%= render 'shared/card-user', advert: @advert %>
      
      <% if @advert.user == current_user %>
        <div class="user-choice-adv">
          <h3>Votre annonce</h3>
          <div class="edit-delete">
            <%= link_to "Modifier", edit_advert_path(@advert) %>
            <%= link_to "Effacer", advert_path(@advert), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
          </div>
        </div>
      <% else %>
        <%= render 'shared/contact-user', advert: @advert %>
      <% end %>
      
    </div>
    
  </div>
  
  <div class="space-between"></div>
  <div id="map">
    <%= render 'shared/map', markers: @markers %>
  </div>
  
  <div class="space-between"></div>

  <% @advert.comments.each do |comment| %>
    <%= render 'shared/card-comment', comment: comment %>
  <% end %>

  <%= render 'shared/comment-adv', advert: @advert, comment: @comment %>

  <div id="bottom"></div>

</div>

