<h1>Advert from <%=  @advert.user.name %></h1>

<h2><%= @advert.name %></h2>
<p>Type: <%= @advert.type_ad %></p> 

<% if @advert.photos.attached? %>
  <% @advert.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
<% else %>
  <p><%= image_tag "logo.jpg", height: 300, width: 400%></p>
<% end %>

<p>Address: <%= @advert.address %></p>
<% if !@advert.phone.empty? %>
        <p>Phone: <%= advert.phone %></p>
<% end %>
<p>Content: <%= @advert.content %></p>
<% if @advert.user == current_user %>
  <%= link_to "Edit your advert", edit_advert_path(@advert) %>
  <%= link_to "Delete", advert_path(@advert), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<% end %>

<% @advert.comments.each do |comment| %>
  <p>--------</p>
  <p><%= comment.content %></p>
  <p>by <%= comment.user.name %></p>
  <p>Comment id: <%= comment.id %></p>
  <% if comment.user == current_user %>
    <%= link_to "Edit", edit_comment_path(comment)  %>
    <%= link_to "Delete", comment_path(comment), method: :delete, data: { confirm: "Are you sure?" }  %>
  <% end %>
  <p>--------</p>
<% end %>

<h2>Write a message</h2>

<%= simple_form_for [@advert, @comment] do |f| %>
  <%= f.input :content %>
  <%= f.submit %>
<% end %>
<p></p>

<h2>Want to talk to <%=  @advert.user.name %> ?</h2>

<%= simple_form_for(@message) do |f| %>
  <%= f.input :content %>
  <%= f.hidden_field :advert_user_id, value: @advert.user.id %>
  <%= f.hidden_field :conversation_id, value: nil, readonly: true %>
  <%= f.submit %>
<% end %>

<%= link_to "Back to the adverts", adverts_path  %>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>